<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="{{ '/styles/img/logo.jpg' | prepend: site.baseurl }}">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">
            <strong>
              <i class="fa fa-home fa-fw"></i>主页
            </strong>
          </a>
        </li>
        <li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}">
            <strong>
              <i class="fa fa-th-list fa-fw"></i>分类
            </strong>
          </a>
        </li>
        <li>
          <a href="{{ '/tag' | prepend: site.baseurl }}">
            <strong>
              <i class="fa fa-tags fa-fw"></i>标签
            </strong>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <strong>
              <i class="fa fa-envira fa-fw"></i>课程<b class="caret"></b>
            </strong>
          </a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" href="{{ '/course/linear-algebra/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>线性代数</a></li>
            <li><a rel="nofollow" href="{{ '/course/probability/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>概率论</a></li>
            <li><a rel="nofollow" href="{{ '/course/calculus/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>微积分</a></li>
            <li class="divider"></li>
            <li><a rel="nofollow" href="{{ '/course/machine-learning/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>机器学习</a></li>
            <li><a rel="nofollow" href="{{ '/course/deep-learning/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>深度学习</a></li>
            <li class="divider"></li>
            <li><a rel="nofollow" href="{{ '/course/computer-vision/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>计算机视觉</a></li>
            <li class="divider"></li>
            <li><a rel="nofollow" href="{{ '/course/nlp/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>自然语言处理</a></li>
            <li class="divider"></li>
            <li><a rel="nofollow" href="{{ '/course/speech-recognition/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>语音识别</a></li>
            <li class="divider"></li>
            <li><a rel="nofollow" href="{{ '/course/os/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>操作系统</a></li>
            <li><a rel="nofollow" href="{{ '/course/linux-kernel/' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>Linux源码分析</a></li>
          </ul>
        </li>

        <li>
          <a href="{{ '/timeline' | prepend: site.baseurl }}">
            <strong>
              <i class="fa fa-calendar fa-fw"></i>时间线
            </strong>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--
        <li>
            <a><span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span></a>
        </li>
        -->
        <li>
          <a href="{{ '/donate/' | prepend: site.baseurl }}">
            <strong>
              <i class="fa fa-flag fa-fw"></i>打赏
            </strong>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <strong>
              <i class="fa fa-user-circle-o fa-fw"></i>关于<b class="caret"></b>
            </strong>
          </a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" target="_blank" href="{{site.github}}"><i class="fa fa-github fa-fw"></i>Github</a></li>
            <li class="divider"></li>
            <li><a rel="nofollow" target="_blank" href="{{site.resume_site}}"><i class="fa fa-user fa-fw"></i>关于作者</a></li>
            <li><a rel="nofollow" href="{{ '/books/book' | prepend: site.baseurl }}"><i class="fa fa-book fa-fw"></i>我的书单</a></li>
            <li><a rel="nofollow" href="{{ '/reference' | prepend: site.baseurl }}"><i class="fa fa-list-ul fa-fw"></i>推荐博客</a></li>
            <li class="divider"></li>
            <li><a href="{{ '/wiki/wiki' | prepend: site.baseurl }}"><i class="fa fa-wikipedia-w fa-fw"></i>常用记录</a></li>
            <li class="divider"></li>
            <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}"><i class="fa fa-rss-square fa-fw"></i>RSS订阅</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
