---
title: resume
layout: resume

author:
    name: Xiaoer Wu
    title: Software Engineer
    address: Shanghai, China
    email: 448778313@qq.com
    link: http://wxer.github.io
    weibo:
    github: wxer
    linkedin: xiaoer-wu-63b7b68a
    twitter: #
    gavatar: /styles/img/avatar.JPG
    stackoverflow:
    workHistory:
      - work1:
        company: Huawei Ltd
        location: Shanghai, China
        title: Software Developer
        started: 2014
        duration: (2014.1 - Present)
        description:
          - item1:
            index: 1
            desc: Master the Wi-Fi Software Architecture;
          - item2:
            index: 2
            desc: Develop Wi-Fi Software code;
          - item3:
            index: 3
            desc: Debug the Wi-Fi RF Performance and the Protocol related function;
          - item4:
            index: 4
            desc: Familiar with the 802.11b/g/n/a/ac/ax protocol

      - work2:
        company: ZTE Corporation
        location: Shanghai, China
        title: Software Engineer
        started: 2012
        duration: (2012.3 - 2014.1)
        description:
          - item1:
            index: 1
            desc: Optimize the Performance of Wlan Network;
          - item2:
            index: 2
            desc: Familiar with 802.11b/g/a/n Protocol;
          - item3:
            index: 3
            desc: Familiar with the software architecture of Wlan


    educationHistory:
      - education1:
        organization: Shanghai Jiao Tong University
        location: Shanghai, China
        degree: Master
        major: Software Engineering
        started: 2009
        duration: (2009.9 - 2012.3)
        description:
          - item1:
            index: 1
            desc: Audio and Speech Coding
          - item2:
            index: 2
            desc: Machine Learning

      - education1:
        organization: HeFei University of Technology
        location: HeFei, China
        degree: Bachelor
        major: Software Engineering
        started: 2005
        duration: (2005.9 - 2009.7)
        description:
          - item1:
            index: 1
            desc: Electronic Information Science and Technology

    languages:
      - language1:
        name: Chinese
        proficiency: Native
      - language2:
        name: English
        proficiency: Professional

    programmingSkills:
      - skill1:
        name: C Language
        percentage: 100%
      - skill2:
        name: Python
        percentage: 90%
      - skill3:
        name: C++
        percentage: 70%
      - skill4:
        name: Java
        percentage: 60%
      - skill5:
        name: JavaScript
        percentage: 30%
      - skill6:
        name: HTML
        percentage: 70%
      - skill7:
        name: Bootstrap
        percentage: 50%
---

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if page.author.workHistory %}
                <h2 class="title with-icon"><span class="glyphicon glyphicon-plane cat-title"></span>Work History</h2>
                <ul class="timeline">
                    {% for work in page.author.workHistory %}
                        <li class="timeline-inverted">
                            {% if work.started %}
                                <div class="timeline-badge info">{{ work.started }}</div>
                            {% endif %}
                            <div class="grid-block">
                                <div class="timeline-heading">
                                    {% if work.company %}
                                        <h3 class="timeline-title">{{ work.company }} </h3>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if work.title %}
                                                {{ work.title }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="text-muted">
                                            {% if work.duration %}
                                                <i class="fa fa-calendar"></i> {{ work.duration }} |
                                            {% endif %}
                                            {% if work.location %}
                                                <i class="fa fa-map-marker"></i>  {{ work.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% if work.description %}
                                        {% for item in work.description %}
                                            <p>{{ item.index }}.{{ item.desc }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if page.author.educationHistory %}
                <h2 class="title with-icon"><span class="fa fa-book cat-title"></span>Education History</h2>
                <ul class="timeline">
                    {% for education in page.author.educationHistory %}
                        <li class="timeline-inverted">
                            {% if education.started %}
                                <div class="timeline-badge info">{{ education.started }}</div>
                            {% endif %}
                            <div class="grid-block">
                                <div class="timeline-heading">
                                    {% if education.organization %}
                                        <h3 class="timeline-title">{{ education.organization }}</h3>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if education.degree %}
                                                {{ education.degree }}
                                            {% endif %}
                                            {% if education.major %}
                                                , {{ education.major }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="text-muted">
                                            {% if education.duration %}
                                                <i class="fa fa-calendar"></i> {{ education.duration }} |
                                            {% endif %}
                                            {% if education.location %}
                                                <i class="fa fa-map-marker"></i>  {{ education.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% if education.description %}
                                        {% for item in education.description %}
                                            <p>{{ item.index }}.{{ item.desc }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if page.author.stackoverflow or page.author.programmingSkills %}
                <h2 class="title with-icon"><span class="fa fa-code cat-title"></span> Programming Skills</h2>
                {% if page.author.stackoverflow %}
                <div class="grid-block">
                  <p><a href="//stackoverflow.com/users/{{ page.author.stackoverflow }}"><img src="//stackoverflow.com/users/flair/{{ page.author.stackoverflow }}.png"></a></p>
                  <ul class="list-unstyled list-stackoverflow" id="stackoverflow_questions_and_answers"></ul>
                  <script type="text/javascript">
                  $(function () {
                    var api_url_user = "//api.stackexchange.com/2.2/users/{{ page.author.stackoverflow }}/answers?pagesize=5&order=desc&sort=votes&site=stackoverflow";
                    var api_url_format_questions = "//api.stackexchange.com/2.2/questions/%question_ids%?site=stackoverflow";

                    $.get(api_url_user, function (data_user) {
                      if (!data_user) {
                        return;
                      }
                      if (!data_user.items) {
                        return;
                      }
                      if (!data_user.items.length) {
                        return;
                      }

                      var question_ids = [];
                      var complex_questions = {};
                      $.each(data_user.items, function (index, item) {
                        if (!item) {
                          return;
                        }
                        if (!item.question_id) {
                          return;
                        }
                        if (!item.answer_id) {
                          return;
                        }
                        if (!item.score) {
                          return;
                        }

                        complex_questions[item.question_id] = {
                          "question_id": item.question_id,
                          "answer_id": item.answer_id,
                          "score": humanize_score(item.score),
                          "is_accepted": item.is_accepted
                        };
                        question_ids.push(item.question_id);
                      });

                      var api_url_questions = api_url_format_questions.replace('%question_ids%', question_ids.join(';'));

                      $.get(api_url_questions, function (data_questions) {
                        if (!data_questions) {
                          return;
                        }
                        if (!data_questions.items) {
                          return;
                        }
                        if (!data_questions.items.length) {
                          return;
                        }

                        $.each(data_questions.items, function (index, item) {
                          if (!item) {
                            return;
                          }
                          if (!item.question_id) {
                            return;
                          }
                          var complex_question = complex_questions[item.question_id];
                          if (!complex_question) {
                            return;
                          }

                          complex_question.title = item.title;
                          complex_question.link = item.link;
                        });

                        render_complex_questions(complex_questions);
                      });
                    });
                  });
                  function humanize_score(score) {
                    if (!score) {
                      return;
                    }

                    if (score / 1000 > 1) {
                      return (score / 1000) + "k";
                    } else {
                      return score;
                    }
                  }
                  function render_complex_questions(complex_questions) {
                    if (!complex_questions) {
                      return;
                    }

                    complex_questions = $.map(complex_questions, function (complex_question) {
                      return [complex_question];
                    });
                    complex_questions.sort(function (a, b) {
                      return b.score - a.score;
                    });

                    $stackoverflow_questions_and_answers = $('#stackoverflow_questions_and_answers');

                    $.each(complex_questions, function (index, complex_question) {
                      var link = complex_question.link + '#answer-' + complex_question.answer_id;
                      var $li = $('<li />');
                      $('<span />')
                        .addClass('badge')
                        .addClass(complex_question.is_accepted ? 'progress-bar-success' : '')
                        .text(complex_question.score)
                        .appendTo($li);
                      $('<a />')
                        .attr('href', link)
                        .attr('target', '_blank')
                        .text(complex_question.title)
                        .appendTo($li);
                      $li.appendTo($stackoverflow_questions_and_answers);
                    });
                  }
                  </script>
                </div>
                {% endif %}
                {% if page.author.programmingSkills %}
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for programmingSkill in page.author.programmingSkills %}
                            <li>
                                {% if programmingSkill.name %}
                                    <span class="caption-skill">{{ programmingSkill.name }}</span>
                                {% endif %}
                                {% if programmingSkill.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ programmingSkill.percentage }}">
                                            <span>{{ programmingSkill.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endif %}
            {% if page.author.languages %}
                <div class="deviter"></div>
                <h2 class="title with-icon"><span class="fa fa-globe cat-title"></span> Language Skills</h2>
                <div class="grid-block">
                    <ul class="list-unstyled list-strip">
                        {% for language in page.author.languages %}
                            {% if language.name %}
                                {% if language.proficiency %}
                                    <li>
                                        <i class="fa fa-check"></i> <span class="badge badge-green badge-right-float">{{ language.proficiency }}</span>{{ language.name }}
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="deviter"></div>
            <h2 class="title with-icon"><span class="fa fa-location-arrow cat-title"></span> Location</h2>
            <div class="grid-block">
                <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5ytn1ssq6za&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async">
                </script>
            </div>
        </div>
    </div>
</div>
