---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-9" role="main" id="page_top">
      <div class="panel docs-content">
        <div class="wrapper">
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <!--
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
              -->
            <div class="meta">
                <span class="fa fa-calendar" aria-hidden="true">
                  {{ page.date | date: "%b %d, %Y" }}
                </span>

                {% if page.categories.size > 0 %} |
                  <span class="fa fa-folder-open" aria-hidden="true">
                  {% for category in page.categories %}
                    <a class="post-categories" href="{{ site.baseurl }}/categories/#{{ category }}-ref">{{ category }}</a>
                  {% endfor %}
                  </span>
                {% endif %}

                {% if page.tags.size > 0 %} |
                  <span class="fa fa-tag" aria-hidden="true">
                  {% for tag in page.tags %}
                    <a class="post-tags" href="{{ site.baseurl }}/tag/#{{ tag }}-ref">{{ tag }}</a>
                  {% endfor %}
                  </span>
                {% endif %}
              <hr>
            </div>
            </header>
            <article class="post-content">
              {{ content }}
            </article>
            <hr>
            <!--翻页功能-->
            <section class="inner">
            <ul class="pager">
                {% if page.previous.url %}
                <li class="previous">
                   <a href="{{page.previous.url}}">←{{page.previous.title}}<span class="label label-primary">Prev</span></a>
                </li>
                {% endif %}
                {% if page.next.url %}
                <li class="next">
                	<a href="{{page.next.url}}">{{page.next.title}}<span class="label label-primary">Next</span>→</a>
                </li>
                {% endif %}
             </ul>
            </section>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="sidebar docs-sidebar hidden-print" role="complementary">
        {% include lefttree.html %}
        {% include toc.html %}
      </div>
    </div>

  </div>
</div>
